
* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #F6E5D2;
  height: 100%;
}


.read-the-docs {
  color: #888;
}

/* Row 1 */

.row_1 {
  display: flex;
  flex-direction: row;
}


/* Navbar */
nav {
  background-color: #FD966F;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
 
}

.image_description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  /*background-color: #B9A869;*/
  margin:auto;
  margin-top: 30px;
  margin-left: 20px;
  color: #A29C9B;
  padding: 10px;
  height: 300px;
  border-radius: 25px;
}
.image_container{
  margin-top: 30px;
  margin-right: 40px;
  min-width: 400px;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.main_image{
  border-radius: 10px;
  width: 100%;
}

/* Search Container */
.search_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;

  border-radius: 25px;
  background-color: #B9A869;
  padding: 10px;
}

.search_heading{
  font-size: 30px;
  font-family: 'caffine', 'Courier New', Courier, monospace;
  border-color: #888;
  padding: 10px;
  border-radius: 25px;
  background-color: #ECE4B7;
  color: black;
  border-width: 1px;
  border-style: solid;
}

.search_box{
  margin: 10px;
  width: 250px;
  height: 25px;
  border-radius: 10px;
  border-style: none;
}

.food_image{
  width: 60%;
  border-radius: 10px;
}

.food_item_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  background-color: wheat;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.card_list{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
    overflow-x: auto;

}